/* 
  mat-form-field{
    display: flex;
    width: 400px;
  } */

  .box{
    margin:auto;
    border-color: rgb(122, 193, 212);
    border: solid;
    height: auto;
    width: 95%;
    margin-top: 40px;
  }

  .AddTitle{
    
    width: 60vw;
  }
  .three{
    display: flex;
  }
  .example-full-width{
    margin-right: 10px;
  }
  .textarea{
    width: 40vw;
  }
  button{
    margin-bottom: 20px;
  }